html, body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReF6vttIV1S1ModhKFzgBkvyyDmsVPihsGzXrqDk8-Trps6-Qt" );
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: silver;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Impact', cursive;

    /*Properties for sticky footer, flexbox for variable height*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    flex: 1;
}

header{
    text-align: center;
    color: #ffffff;
}

footer{
    text-align: center;
    background-color: steelblue;
    color: #ffffff;
    padding: 20px 0 10px;
    margin-top: 20px;
    border-top: 1px solid steelblue;
    font-size: 10px;
}

img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


#main-header{
    background-color: steelblue;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 5%;
    border-bottom: 1px solid steelblue;
}

#img-container{
    background-image: url('https://pbs.twimg.com/profile_images/901947348699545601/hqRMHITj_400x400.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    border: 2px solid black;
    
    padding: 5px;
    min-height: 20px;
}

#section-block{
    background-color: steelblue;
    border: 2px solid black;
    text-align: center;
}

#aside-block{
    background-color: steelblue;
    border: 2px solid black;
}


@media only screen and (max-width:667px){
    h3, p{
        font-size: 15px;
    }
    #main-header{
        font-size: 15px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px){
    .mobileInput{
        display: block;
    }
}
@media only screen and (min-width: 769px){
    .mobileInput{
        display: none;
    }
}